.product-info {
	background: #FEFEFE;
	box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1);
	padding: rem(10) rem(30) rem(30) rem(30);

	&__navigation {
		display: flex;
		justify-content: flex-start;
		overflow-x: auto;
		overflow-y: hidden;
		@include adaptiveValue("gap", 60, 30);
		border-bottom: 1px solid rgba(20, 20, 20, 0.15);
		.tab-spoller & {
			display: none;
		}
	}

	&__title {
		font-weight: 600;
		font-size: rem(20);
		line-height: percent(24, 20);
		color: rgba(20, 20, 20, 0.5);
		padding: rem(20) 0;
		._tab-spoller & {
			width: 100%;
		}

		&._tab-active {
			color: #141414;
			font-weight: 700;
			border-bottom: 2px solid $mainOrange;
		}
	}

	&__content {
		@include adaptiveValue("padding-top", 44, 25);
	}

	&__body {
		&_flex {
			@media(min-width: em(1060)){
				display: flex;
				justify-content: space-between;
				align-items: center;
			}
		}

		p{
			margin-bottom: rem(30);
			em {
				font-weight: 600;
				font-style: normal;
			}
		}

		.tab-spoller & {
			padding: rem(30) 0;
		}
		
		.options-product-info__item {
			&:not(:last-child) {
				margin-bottom: rem(20);
			}
		}
	}

	&__options {

	}

	&__row {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
	}

	&__column {
		@media(min-width: $mobile) {
			&:not(:first-child){
				padding-left: rem(30);
				border-left: 1px solid rgba(20, 20, 20, 0.15);
			}
			@include adaptiveValue("padding-right", 60, 30);

		}
		@media(max-width: $mobile) {
			&:not(:first-child) {
				padding-top: rem(20);
			}

			&:not(:last-child) {
				border-bottom: 1px solid rgba(20, 20, 20, 0.15);
				padding-bottom: rem(30);
			}
		}

	}
}

.product-info-column {

	&__title {
		font-weight: 700;
		line-height:percent(22, 18);
		&:not(:last-child) {
			margin-bottom: rem(30);
		}
	}

	&__table {
		display: grid;
    	gap: rem(20);
    	@media(min-width: em(480)) {
    	    grid-template-columns: minmax(100px, 200px) 1fr;
    	}
	}

	&__label {
	}

	&__value {
	}
}


