.catalog {
    @include adaptiveValue("padding-bottom", 120, 40);
    &__container {
    }

    &__body {
        display: grid;
        gap: rem(30);
        @media(min-width: $tablet) {
            grid-template-columns: rem(375) 1fr;
            justify-content: space-between;
            align-items: start;
        }
    }

    &__control {
        display: flex;
        justify-content: flex-end;
        &:not(:last-child) {
            margin-bottom: rem(20);
        }
    }

    &__filter {
    }

    &__content {
    }

    &__products {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(rem(290), 1fr));
        gap: rem(30);
        &:not(:last-child) {
            @include adaptiveValue("margin-bottom", 60, 30);
        }
    }

    &__footer {
        display: flex;
        justify-content: space-between;
        gap: rem(20);
        @media(max-width: $tablet) {
            flex-direction: column;
            align-items: center;
        }
    }

    &__more {
    }

    &__pagging {
    }
}


.filter-catalog {
    background: #fefefe;
    box-shadow: 0px rem(4) rem(20) rgba(0, 0, 0, 0.1);
    width: 100%;
    &__title {
        font-weight: 700;
        font-size: rem(20);
        line-height: percent(24, 20);  
        color: #fff;
        background-color: $mainDarkColor;
        padding: rem(20) rem(30);
        width: 100%;
        @media(max-width: $tablet) {
            text-align: center;
        }
    }

    &__items {
        @media(max-width: $tablet) {
            display: none;
            &._active {
                display: block;
            }
        }
    }

    &__price {
    }
}
.price-filter {
    padding: rem(30);
    &__title {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: row-reverse;
        width: 100%;
        font-weight: 600;
        font-size: rem(20);
        line-height: percent(24, 20);
        &::before{
            color: $mainOrange;
            font-size: rem(8);
            transform: rotate(0);
            transition: transform 0.3s ease;
        }
        &._active {
            &::before {
                transform: rotate(-180deg);
            }
        }
    }

    &__body {
        padding: rem(30) 0 rem(20) 0;
    }

    &__inputs {
        display: flex;
        border: 1px solid #cbcbcb;
        border-radius: rem(2);
        overflow: hidden;
        &:not(:last-child) {
            margin-bottom: rem(30);
        }
    }

    &__input {
        width: 50%;
        height: rem(42);
        padding: 0 rem(15);
        text-align: center;
        font-weight: 500;
        font-size: rem(16);
        line-height: percent(20, 16);
        &:not(:last-child) {
            border-right:1px solid #cbcbcb;
        }
    }

    &__range {
    }
}

.filter-catalog {

    &__item {
    }
}
.item-filter-catalog {
    &__title {
        font-weight: 600;
        font-size: rem(20);
        line-height: percent(24, 20);  
        color: #fff;
        background-color: $mainDarkColor;
        padding: rem(13) rem(30);
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: row-reverse;
        width: 100%;
        &::before{
            color: $mainOrange;
            font-size: rem(8);
            transform: rotate(0);
            transition: transform 0.3s ease;
        }
        &._active {
            &::before {
                transform: rotate(-180deg);
            }
        }
    }

    &__body {
        padding: rem(30);
    }

    &__checkbox {
        &:not(:last-child) {
            margin-bottom: rem(22);
        }
    }
}













