.page {

    &__products-slider {
    }
}
.products-slider {
    &__container {
    }

    &__header {
        letter-spacing: 0.05em; 
        &:not(:last-child) {
            @include adaptiveValue("margin-bottom", 50, 30);
        }
        @media(min-width: $mobile) {
            display: flex;
            align-items: center;
            justify-content: space-between;
            gap: rem(20);
        }
    }

    &__title {
        font-weight: 700;
        font-size: rem(30);
        line-height: percent(46, 30);
    }

    &__more {
        font-weight: 600;
        font-size: rem(18);
        line-height: percent(46,18);   
        color: rgba(20, 20, 20, 0.58);
        display: inline-flex;
        align-items: center;
        gap: em(15,18);
        &::after{
            @extend %ic;
            content: "\e901";
            font-size: em(7,18);
            transform: rotate(-90deg);
            color: $mainOrange;
        }
        @media(any-hover: hover) {
            &:hover {
                color: rgba(20, 20, 20, 1);
            }
        }
    }

    &__slider {
        padding: rem(20);
        margin: 0 rem(-20);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    &__swiper {
        &:not(:last-child) {
            margin-bottom: rem(50);
        }
    }

    &__slide {
    }
    
    &__dotts{
        display: inline-grid;
        grid-auto-flow: column;
        gap: rem(15);
        justify-content: center;
        transform: translate(0, 10%);
        .swiper-pagination-bullet {
            cursor: pointer;
            height: rem(2);
            width: rem(18);
            background-color: #898989;
            transition: all 0.3s ease;
            &::before {
                content: "";
                position: absolute;
                box-shadow: 0px 4px 20px rgba(232, 170, 49, 0.66);
                height: rem(10);
                width: rem(10);
                border-radius: 50%;
                background-color: $mainOrange;
                top: rem(-5);
                left: 0;
                opacity: 0;
                }
        }
        .swiper-pagination-bullet-active {
            background-color: $mainOrange;
            height: rem(2);
            width: rem(30);
            position: relative;
            &:before{
                opacity: 1;
                left: rem(20);
                transition: left 3s linear;
            }
        }
    }
}

.product-card {
    background-color: #fff;
    display: grid;
    height: 100%;
    grid-template-rows: auto, 1fr;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease;
    @media(any-hover: hover) {
        &:hover{
            box-shadow: 0px 4px 25px rgba(0, 0, 0, 0.2);
        }
    }
    &__image{
        @include adaptiveValue("padding-top", 25, 15);
        @include adaptiveValue("padding-bottom", 25, 15);
        @include adaptiveValue("padding-left", 50, 15);
        @include adaptiveValue("padding-right", 50, 15);
    }

    &__item-image-ibg{
        display: block;
        padding-bottom: percent(240, 270);
    }

    &__body {
        padding: rem(20);
        display: flex;
        flex-direction: column;
    }

    &__title {
        flex: 1 1 auto;
        font-weight: 600;
        font-size: rem(20);
        line-height: percent(34, 20);
        &:not(:last-child) {
            margin-bottom: em(10, 20);
        }
        @media(any-hover: hover) {
            &:hover {
                text-decoration: underline;
            }
        }
    }

    &__link-title {
    }

    &__info {
        &:not(:last-child) {
            margin-bottom: em(15, 16);
        }
    }

    &__rating {
        justify-content: space-between;
        &:not(:last-child) {
            margin-bottom: em(26, 16);
        }
    }

    &__footer {
        display: flex;
        align-items: center;
        gap: rem(15);
        border-top: 1px solid rgba(20, 20, 20, 0.5);
        padding: rem(20) 0;
    }

    &__price {
        flex: 1 1 auto;
        font-weight: 600;
        font-size: rem(20);
        line-height: percent(34, 20);
    }

    &__compare,
    &__favourite {
        font-size: rem(24);
        transition: color 0.3 ease;
        @media(any-hover: hover) {
            &:hover {
                color: $mainOrange;
            }
        }
    }

    &__cart {
        width: 100%;
        span{
            display: flex;
            flex-direction: row-reverse;
            align-items: center;
            justify-content: center;
            color: #fff;
            font-size: rem(18);
            &::before{
                margin: 0 0 0 rem(16);
            }
        }
    }
}
.info-product-card {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: 600;
    font-size: rem(16);
    line-height: percent(34,16);
    color: #ababab;
    gap: rem(10);
    &__size {
    }

    &__materials {
        text-align: right;
    }
}
/*==============================================================================*/
.products-new {
    padding: rem(45) 0 0 0;
    background: url("../img/mainpage/new-products/bg.jpg") bottom / cover no-repeat;
    position: relative;
    @media(min-width: $tablet) {
        &::before {
            content: "";
            position: absolute;
            background-color: #fff;
            height: rem(45);
            right: 0;
            width: percent(1030, 1920);
            top:0;
        }
    }

    &__inner {
        @include adaptiveValue("padding-top", 55, 20);
        @include adaptiveValue("padding-bottom", 55, 20);
    }

    &__container {
        display: grid;  
        row-gap: rem(30);
        @media(min-width: $tablet) {
            grid-template-columns: rem(400) 1fr;
            align-items: start;
        }
    }

    &__body {
        letter-spacing: 0.03em;
        @include adaptiveValue("padding-right", 70, 20, 1630, 992, 1);
    }

    &__title {
        font-weight: 700;
        font-size: rem(30);
        line-height: percent(46, 30);
        color: #FFFFFF;
        &:not(:last-child) {
            @include adaptiveValue("margin-bottom", 30, 20);
        }
    }

    &__text {
        font-weight: 500;
        line-height: percent(27, 18);
        color: rgba(255, 255, 255, 0.7);
        &:not(:last-child) {
            @include adaptiveValue("margin-bottom", 60, 20);
        }
    }

    &__link {
    }

    &__slider {
        min-width: 0;
        padding: rem(55) 0 rem(46) 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: rem(50);
        @media(max-width: $tablet) {
            padding: rem(35) 0 rem(30) 0;
        }
    }

    &__swiper {
    }

    &__slide {
    }

    &__dotts {
        display: inline-grid;
        grid-auto-flow: column;
        gap: rem(15);
        justify-content: center;
        transform: translate(0, 10%);
        overflow: visible;
        .swiper-pagination-bullet {
            cursor: pointer;
            height: rem(2);
            width: rem(18);
            background-color: #898989;
            transition: all 0.3s ease;
            &::before {
                content: "";
                position: absolute;
                box-shadow: 0px 4px 20px rgba(232, 170, 49, 0.66);
                height: rem(10);
                width: rem(10);
                border-radius: 50%;
                background-color: $mainOrange;
                top: rem(-5);
                left: 0;
                opacity: 0;
                }
        }
        .swiper-pagination-bullet-active {
            background-color: $mainOrange;
            height: rem(2);
            width: rem(30);
            position: relative;
            &:before{
                opacity: 1;
                left: rem(20);
                transition: left 3s linear;
            }
        }
    }
}

.link-arrow{
    display: inline-flex;
    flex-direction: row-reverse;
    align-items: center;
    color: $mainOrange;
    font-weight: 600;
    font-size: rem(20);
    letter-spacing: 0.05em; 
    &::before{
        margin: 0 0 0 em(20, 20);
        transform: rotate(-90deg);
        font-size: rem(8);
    }
    @media(any-hover: hover) {
        &:hover {
            span {
                text-decoration: underline;
            }
        }
    }
}








